# Database config
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=

# Server config
NODE_ENV=development
SERVER_PORT=
JWT_ACCESS_SECRET_KEY=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES=
API_VERSION=